<h1>Hello, <%= @user.first_name %> <%= @user.last_name %>!</h1>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left">
    <% if @myg.length > 0 %>
    <div>
      Groups you've joined:
      <ul>
        <% @myg.each do |mg| %>
        <li><a href="/groups/<%= mg.id %>"><%= mg.name %></a></li>
        <% end -%>
      </ul>
    </div><hr>
    <% end -%>
    <div class="hr">
      <p>Here are the organizations you may join:</p>
    </div>
    <% if @otherg.length > 0 %>
      <% @otherg.each do |nmg| %>
      <h4 class="group"><a href="/groups/<%= nmg.id %>"><%= nmg.name %></a></h4>
      <ul class="groupInfo">
        <li>Members: <%= Membership.where(group: nmg).count %></li>
        <li><%= nmg.description %></li>
      </ul>
      <% end -%>
    <% else %>
    <h4>No more groups to join.</h4>
    <% end -%>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right">
    <h4>Create a new group</h4><br>
    <form action="/groups/new" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <div class="form-group">
        <label for="orgname">Group name:</label>
        <input type="text" class="form-control" id="orgname" placeholder="Group name" name="group[name]">
      </div>

      <div class="form-group">
        <label for="orgdescription">Description:</label>
        <textarea type="text" class="form-control" id="orgdescription" placeholder="Description" name="group[description]"></textarea>
      </div>
      <input type="submit" value="Create" class="btn btn-primary btn-sm">
    </form>
  </div>
</div>